$text-color-black:#333;
$text-color-blue:#91D2FF;
$bg-color: #F8F9FA;

* {
    margin: 0;
    padding: 0;
    font-family: 微軟正黑體;
    box-sizing: border-box;
    color: #fff;
}

// 橫幅
#banner {
    height: 100vh;
    background-image: url(./banner.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin-top: -100px;
    // 使用格線
    display: grid;
    // 對齊內容：垂直對齊中間
    align-items: center;

    div {
        width: 800px;
        margin: 0 auto;
        text-align: center;

        h1 {
            font-size: 72px;
        }

        h2 {
            padding: 10px 0 ;
          }   
    }
}
    // 導覽列
nav {
    display: grid;
    grid-template-columns: auto 80px auto;
    text-align: center;
    position: sticky;
    top: 0;
    height: 100px;
    // 使用格線可讓內容垂直對齊
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;

    ul {
        list-style: none;
        
        li {
          display: inline-block;
          transition: 0.5s;

            a {
                text-decoration: none;
                color: #fff;
                padding: 15px;
                font-weight: 900;
            }

            &:hover {
                transform: scale(1.2);
            }
        }
    }


img {
    width: 80px;
    transition: 0.5s;
    transform: scaleX(-1);

    &:hover {
        transform: scaleX(-1.2) scaleY(1.2);
        }
    }
}

// 文章區域
.content {
    max-width: 1200px; 
    display: grid;
    margin: 0 auto ;
    grid-template-columns: 1fr 1fr;
    padding: 30px;

    * {
        color: $text-color-black;
    }

    .pic {
        // 格線區域名稱：自行命名
        grid-area: pic;
    }

    .text-area {
        grid-area: text-area;
        display: grid;
        align-items: center;
        
        h2 {
            padding: 20px 0;
        } 

        p {
            line-height: 1.8;
            margin-bottom: 30px;
        } 

        a {
            border: 1px solid $text-color-black;
            text-decoration: none;
            padding: 10px 30px;
            border-radius: 30px;
            transition: 0.8s;

            &:hover {
                background-color: $text-color-black;
                color: #fff;
           }    
        }
    }
}

#content-1 , #content-3{
    // 設定格線區域：'區域名稱 區域名稱'
    grid-template-areas: 'pic text-area' ;
}

#content-2 {
    grid-template-areas: 'text-area pic' ;
}

// 圖示
#icon {
    background-color: $bg-color;

    * {
        color: $text-color-black;
    }
    h1 {
        font-size: 72px;
        text-align: center;
        padding: 30px 0 10px;
    }

    div {
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        padding: 20px 0;

        div {
            display: block;
            text-align: center;

            img {
                display: inline-block;
                width: 64px;
                transition: 0.3s;
                filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0) brightness(0%)
					contrast(100%);
            }
            span {
                display: block;
                padding: 10px 0;
                font-size: 12px;
                transition: 0.3s;
         }
        &:hover img {
            filter: invert(71%) sepia(45%) saturate(522%) hue-rotate(180deg) brightness(101%) contrast(105%);
        }
        &:hover span {
            color: $text-color-blue;
              }                    
         }    
    }
}
    //頁尾
     footer {
        background-color: $text-color-black;
        text-align: center;
        padding: 50px 0;

        img {
            width: 100px;
            transform: scaleX(-1);
            }

         p {
                font-size: 10px;
                padding: 20px 0;
        }
     }


     //菜單
     #menu {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        padding: 10px;
        cursor: pointer;

        a.current {
            background-color: $text-color-red;
            display: inline-block;
            width: 100%;
            padding: 10px 20px;
            border-radius: 30px;
            text-align: center;
            color: #fff !important;
        }

        img {
            filter: invert(1);
        }

    //啟動:點選元素時
    &:active #menu-box{
        right: 0;
    }      
    &:hover #menu-box{
        right: 0;
    }
    #menu-box {
            position: absolute;
            right: -500px;
            top: 0;
            width: 500px;
            height: 100vh;
            background-color: #fff;
            transition: 0.5s;
            
            ul {
                list-style: none;
                li {
                     padding: 30px;

            a {
                color: $text-color-black;
                text-decoration: none;
                font-style: 36px;
                    }
                 }
              }
            }
        }

     //手機
     @media screen and (max-width: 768px) {
     }
     

     //平板
     @media screen and (min-width: 769px) {

        nav {
            grid-template-columns: auto;

            ul {
                display: none;
            }
        }

     #menu {
        display: block;
     }

     #content-1, #content-2, #content-3 {
        // "" 一列
        // "" "" 兩列
        grid-template-areas: "text-area" "pic";
        grid-template-columns: 1fr;

        .pic {
            text-align: center;
        }

        .text-area {
            padding: 0 100px;
        }
    }

    #icon {
        div {
            grid-template-columns: repeat(4, 1fr);
            padding: 50px;
        }
    }
} 
    //電腦
    @media screen and (min-width: 1025px) {
        
    }